lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
dist
.env

# Build
public/css/main.css

# avatarage reports
avatarage

# API keys and secrets
.env
.local.env
package-lock.json
.history
.history/**/*

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
tool/**/*

# ignore yarn.lock
yarn.lock